#twitter {
  float: right;
  display: inline-block;

}

.header {
width: 100%;
height: 100px;
/* background-image: url("https://www.bhmpics.com/wallpapers/eagle_nebula_in_universe-1920x1080.jpg"); */
}

#siteTitle {
  text-decoration: none;

  margin-left: 20%;
  margin-top: 5%;
  font-size: 90px;
  font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, 'Helvetica Inserat', 'Bitstream Vera Sans Bold', 'Arial Black', 'sans serif';
  color: black;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

#siteTitle:hover {
      color: #33FF00;
      text-shadow: 10px 10px grey;
      transition: all 0.2s linear 0s;

}
#underTitle {
  font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, 'Helvetica Inserat', 'Bitstream Vera Sans Bold', 'Arial Black', 'sans serif';
  margin-left: 30%;
padding: 20px;



}

.header a{
  color: #FFFFFF;
  text-decoration: none;
}

body{
  background-color: #F7F7F7  ;
}

.title {
  font-size: 60px;
}

.twitter-timeline{

  box-shadow: 0 1px 3px;


}
.clickpost {

  width: auto;
  height: auto;
  text-align: center;
  padding: 10px;
background-color: white ;
overflow: hidden;
margin-top: 20px;
box-shadow: 0 1px 3px;


}
.clickpost ul.share-buttons{
display:inline-block;margin-right:10px;

}

.readme {
  border-width: 1px;
    border: solid;
    border-color: #B8B8B8;

      margin-left: auto;
      margin-right: auto

}

.aboutMe {
  margin-top: 20px;
  width: auto;
  height: auto;
  background-color: white;
  padding: 20px;
      font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  box-shadow: 0 1px 3px;
  text-align: center;
}

.aboutMe h2 {
text-decoration: underline;
margin-bottom: 35px;

}

.post {

padding: 10px;
background-color: white;
font-size: 20px;
box-shadow: 0 1px 3px;
margin-top: 20px;


}
.post p{
  margin-bottom: 60px;

}
.post h1 {
  text-align: center;
}

ul.share-buttons{
  list-style: none;
  padding: 0;


}

ul.share-buttons li{
  display: inline;

}

.recentPosts {
  width: auto;
  height: auto;
  background-color: white;
  padding: 20px;
      font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
      margin-top: 20px;
      margin-bottom: 20px;
font-size: 22px;
  box-shadow: 0 1px 3px;


}
.recentPosts h2 {
text-decoration: underline;
margin-bottom: 35px;

}

.recentPostsImg {
  margin: 15px;
}


.sidebar {
  width: auto;
  height: 1000px;
}

.headerlinks {
padding: 20px;
margin: 10px;
  border-style : solid;
  float: right;

    font-size: 28px;
    font-weight: bolder;
background: white;
box-shadow:none;

}

.headerlinks:hover {
box-shadow: inset 0 0 20px black;

}

.imagehover {

}


.sky {
  background-image: url("https://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg");
  background-size: 80px 60px;
}



.big {
font-family: fantasy;
}

#me {
  border-radius: 50%;
  margin-bottom: 35px;
}

.featureImage {
width: 100%;
height: 300px;
align: center;
box-shadow: 0 1px 3px;


}

.date {
font-size: 22px;
font-family: sans-serif;
color: grey;
font-style: italic;

}

.author {
  float: left;
  font-style: italic;
  font-size: 20px;

}
